<nav class="bg-[#11351E] shadow-md rounded-2xl mx-4 mt-4">

    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between    items-center">

        <!-- Left Section -->

        <h1 class="text-xl font-bold text-[#F96167]">
            Admin Panel
        </h1>

        <!-- right section -->

        <div class="space-x-6 font-medium text-xl text-white hover:text-[#AEFFDE]">

            <a href="../../src/page/admin_product.html" class=" hover:text-blue-800 ">
                Product
            </a>

            <a href="../../src/page/admin_dashboard.html" class=" hover:text-blue-800 ">
                Dashboard
            </a>

            <button type="button" id="logoutbtn" class="  px-4 py-2 rounded-xl bg-[#DA4848] hover:bg-black hover:text-blue-800 "
                onclick="logout()">Logout</button>

        </div>

    </div>

</nav>
<script type="module" src=""></script>
