<nav class="bg-white shadow-md rounded-2xl mx-4 mt-4">

    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

        <!-- Left Section -->

        <h1 class="text-lg font-extrabold text-black">
            Admin Panel
        </h1>

        <!-- right section -->

        <div class="flex items-center gap-6 text-sm font-medium text-black">

            <a href="../../src/page/admin_product.html" class=" hover:text-[#AEFFDE] ">
                Product
            </a>

            <a href="../../src/page/admin_dashboard.html" class=" hover:text-[#AEFFDE] ">
                Dashboard
            </a>

            <div class="flex items-center gap-4"></div>
            
            <span id="admininfo" class=" font-extrabold">
            </span>

            <button type="button" id="logoutbtn"
                class="px-4 py-1.5 text-sm rounded-lg bg-[#DA4848] hover:bg-red-700 text-white">
                Logout
            </button>

        </div>

    </div>
</nav>

<script type="module" src="../../dist/authorization/authorization.js"></script>