<nav class="bg-white shadow-md rounded-2xl mx-4 mt-4">

    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">

        <!-- Logo -->
        <h1 class="text-lg font-extrabold text-black">
            E-commerce Management System
        </h1>

        <!-- Navigation Links -->
        <div class="flex items-center gap-6 text-sm font-medium text-black">

            <a href="../page/customer_products.html" class="hover:text-[#AEFFDE]">
                Products
            </a>

            <a href="../page/customer_cart.html" class="hover:text-[#AEFFDE]">
                Cart
            </a>

            <!-- <a href="../page/customer_checkout.html" class="hover:text-[#AEFFDE]">
                Checkout
            </a>

            <a href="../page/customer_payment.html" class="hover:text-[#AEFFDE]">
                Payment
            </a> -->

            <a href="../page/customer_order.html" class="hover:text-[#AEFFDE]">
                Orders
            </a>

            <span id="userinfo" class="font-extrabold"> </span>

            <button type="button" id="logoutbtn"
                class="px-4 py-1.5 text-sm rounded-lg bg-[#DA4848] hover:bg-red-700 text-white">
                Logout
            </button>

        </div>

    </div>

</nav>

<script type="module" src="../../dist/authorization/authorization.js"></script>