<nav class="bg-[#11351E] shadow-md rounded-2xl mx-4 mt-4">

    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between    items-center">

        <!-- Left Section -->

        <h1 class="text-xl font-bold text-[#F96167]">
            E-commerce Management System
        </h1>

        <!-- right section -->

        <div class="space-x-6 font-medium text-xl text-[#CDCCE8] hover:text-[#AEFFDE]">


            <a href="../page/customer_products.html" class=" hover:text-blue-800">
                Products</a>

            <a href="../page/customer_cart.html" class=" hover:text-blue-800">
                Cart</a>

            <a href="../page/customer_checkout.html" class=" hover:text-blue-800">
                Checkout</a>

            <a href="../page/customer_payment.html" class=" hover:text-blue-800">
                Payment</a>

            <a href="../page/customer_order.html" class=" hover:text-blue-800">
                Orders</a>

            <!-- <button type="button" id="logoutbtn"
                class="  px-4 py-2 rounded-xl bg-[#DA4848] hover:bg-black hover:text-blue-800 "
                onclick="logout()">Logout</button> -->

            <button type="button" id="logoutbtn"
                class="px-4 py-2 rounded-xl bg-[#DA4848] hover:bg-black hover:text-blue-800">
                Logout
            </button>
        </div>

    </div>


</nav>
<script type="module" src="../../dist/authorization/authorization.js"></script>
<!-- <script src="../../dist/authorization/authorization.js"></script> -->