



<footer class="bg-gray-500 mt-6 shadow-md">
    <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

        <!-- Company Info -->
        <div>
            <h2 class="text-xl text-black font-bold mb-3 underline">Sobhan Kart</h2>
            <p class="text-black text-lg">
                Daily need e-commerce management 
                platform for best shopping experience.
            </p>
        </div>

        <!-- Contact Info -->
        <div class="md:text-right">
            <h3 class="text-xl text-black font-bold mb-3 underline">Contact</h3>
            <p class="text-black text-lg">Email: sobhankart@gmail.com</p>
            <p class="text-black text-lg">Phone: +91 9999999999</p>
            <p class="text-black text-lg">Location: Ahmedabad, Gujarat</p>
        </div>

    </div>

    <hr class="border-gray-300">

    <!-- Bottom Section -->
    <div class="text-center py-4 text-white text-lg">
        © 2026 Sobhan Kart. All Rights Reserved.
    </div>

</footer>